@charset "UTF-8";

/* ------------
	Aejis css  http://aejis.eu/tools/css/
	Typographic rules
	-----------
*/

body {
	font: 62.5%/1.6 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; /* 10 px */
}

q {quotes: "\00AB" "\00BB" "\201e" "\201c";}
strong, th, thead td, h1, h2, h3, h4, h5, h6 {font-weight: bold;}
em, cite {font-style: italic;}
code, kbd, samp, var {font-family: monaco, "Lucida Console", courier, monospace;}
sup, sub {vertical-align: baseline; position: relative; font-size:small;}
sup {top: -0.4em;}
sub {bottom: -0.3em;}
del {text-decoration: line-through;}
abbr, acronym {
	cursor: help;
	border-bottom: 1px dotted #000;
}

/*
 * Hang punctuation
 */
 
/* Bracket */
.hang-b {margin-left: -0.55ex;} /* Left bracket*/
.hang-b-s {margin-right: 0.55ex;} /* Space before bracket*/
.hang-bl {margin-right: -0.55ex;} /* Right bracket*/
.hang-bl-s {margin-left: 0.55ex;} /* Space after bracket*/

/* Quote (&laquo; &raquo;) */
.hang-q {margin-left: -0.95ex;} /* Left qoute */
.hang-q-s {margin-right: 0.95ex;} /* Space before quote */
.hang-ql {margin-right: -0.95ex;} /* Right quote */
.hang-ql-s {margin-left: 0.95ex;} /* Space after quote */


/*
 * Vertical rhytm
 */

/* Paragraphs */
.f12 {font-size: 1.2em;line-height: 1.33333em;}
.f14 {font-size: 1.4em;line-height: 1.1428em;}
.f16 {font-size: 1.6em;line-height: 1em;}
.f18 {font-size: 1.8em;line-height: 1.7778em;margin-top: -0.5em;}
.f20 {font-size: 2em;line-height: 1.6em;margin-top: -0.5em;}
.f22 {font-size: 2.2em;line-height: 1.4545em;margin-top: -0.5em;}
.f24 {font-size: 2.4em;line-height: 1.3333em;margin-top: -0.5em;}

/* Headings */
h1 {
	font-size: 2.4em; 
	line-height: 1.3333em;
	margin-bottom: 0.6667em;
}

h2 {
	font-size: 2.2em;
	line-height: 1.4545em;
	margin-bottom: 0.7273em;
}

h3 {
	font-size: 2em;
	line-height: 1.6em;
	margin-bottom: 0.8em;
}

h4 {
	font-size: 1.8em;
	line-height: 1.7778em;
	margin-bottom: 0.8889em;
}

h5 {
	font-size: 1.6em;
	line-height: 1em;
	margin-bottom: 1em;
}

h6 {
	font-size: 1.4em;
	line-height: 1.1429em;
	margin-bottom: 1.1429em;
}